.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.forgot-password__wrapper {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.forgot-password__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password__image-container {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.forgot-password__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1); /* Cambiar a un factor de escala mayor para un efecto de ampliación */
    animation: nod 0.5s infinite; /* Cambiar animación a "nod" */
  }

  @keyframes nod {
    0% {
      transform: translateY(-2px) rotate(0deg); /* Cambiar translateY a -2px */
    }
    50% {
      transform: translateY(2px) rotate(2deg); /* Cambiar translateY a 2px y aumentar el ángulo de giro */
    }
    100% {
      transform: translateY(-2px) rotate(0deg); /* Cambiar translateY a -2px */
    }
  }
}

.forgot-password__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.forgot-password__description {
  font-size: 18px;
  margin-bottom: 20px;
  color: #777;
}

.forgot-password__form {
  width: 100%;
  max-width: 300px;
}

.forgot-password__input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.forgot-password__button {
  background-color: #ff5a5f;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e25056;
  }
}
