.contenedor__titulos {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  background-image: url('/fondoTitulos.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 40vh;

  h1 {
    margin: 0;
    color: white;
    //-webkit-text-stroke: 1.5px black; Delinear letras
  }

  &--busqueda {
    margin: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
<<<<<<< HEAD
    background-color: white;
    border-radius: 10px;
    width: 65vw;

    h4 {
      font-size: 12px;
      margin: 0;
      color: gray;
    }

    h3 {
      font-size: 14px;
      margin: 10px 0 0 0;
    }

    h2 {
      margin: 0;
    }

    .cantidad {
      margin: 10px 0 0 0;
      padding: 0 20px;
      font-weight: bold;
      border: 0;
    }

    button {
      padding: 10px 15px;
      color: white;
      border: 0;
      background-color: red;
    }
  }

  &--box {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &--mobileBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }

  &--border {
    padding-right: 40px;
    border-right: 2px solid gainsboro;
  }
}

@media screen and (max-width: 1115px) {
  .contenedor__titulos {
=======
    text-align: center;
    background-image: url('/fondoTitulos.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40vh;
>>>>>>> 5e8109d3b0682ef26f3d80109cba2c0d4d44018c

    h1 {
      font-size: 20px;
    }

    &--busqueda {
      justify-content: space-around;
      width: 44vw;
      margin: 10px 0;
      padding: 10px 40px;
    }
<<<<<<< HEAD

    &--box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      button {
        height: 40px;
      }
    }

    &--mobileBox {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1095px) {
  .contenedor__titulos {
    display: flex;
    justify-content: center;

    h1 {
      font-size: 20px;
    }

    &--mobileBox {
      gap: 20px;
    }

    &--box {
      gap: 20px;
    }

    &--busqueda {
      width: 37vw;
      padding: 10px 20px;
    }

    &--border {
      padding-right: 20px;
    }
  }
}


@media screen and (max-width: 970px) {
  .contenedor__titulos {

    &--box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    &--mobileBox {
      gap: 10px;
    }

    &--border {
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 870px) {
  .contenedor__titulos {
    h1 {
      font-size: 16px;
    }

    &--busqueda {
      padding: 10px 10px;
      width: 45vw;

      h4 {
        font-size: 8px;
      }

      h3 {
        font-size: 10px;
        margin: 10px 0 0 0;
      }

      h2 {
        font-size: 14px;
      }

      button {
        padding: 0 10px;
        font-size: 10px;
      }
    }

  }
}

@media screen and (max-width: 752px) {
  .contenedor__titulos {
    height: 30vh;

    &--busqueda {
      margin: 0;
      padding: 10px 10px;
      width: 45vw;

      button {
        height: 20px;
        font-size: 10px;
      }
    }

  }
}

@media screen and (max-width: 645px) {
  .contenedor__titulos {
    height: 25vh;

    &--busqueda {
      width: 63vw;

      button {
        height: 20px;
        font-size: 10px;
      }
    }

  }
}

@media screen and (max-width: 540px) {
  .contenedor__titulos {
    height: 200px;
    background-size: 700px;
    background-position: center;

    &--busqueda {
      width: 85vw;
    }
  }
}

@media screen and (max-width: 432px) {
  .contenedor__titulos {
    height: 200px;
  }
=======
>>>>>>> 5e8109d3b0682ef26f3d80109cba2c0d4d44018c
}
