.content__titles {
  &.paused {
    animation-play-state: paused;
  }
}

.content__hotelInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f2f2f2;

  &--room {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.content__hotelSingle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;

  &--room {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &--title {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px;
    gap: 10px;

    h2 {
      margin: 0;
      font-size: 27px;
    }

    button {
      border: 0;
      background-color: white;
    }
  }

  &--address {
    .free__buttons {
      button {
        background-color: white;
      }
    }

    p {
      font-size: 14px;
    }
  }

  .box__hotelSingle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &--principal {
    position: relative;
    background-image: url("/room.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;

    .selected-label {
      position: absolute;
      top: 50%;
      color: white;
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      font-weight: bold;
    }

    .left {
      left: 0;
      transform: rotate(90deg);
    }

    .right {
      right: 0;
      transform: rotate(-90deg);
    }
  }

  .view-all {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 10px;
  }

  &--menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px outset rgb(220, 220, 220, 0.5);
    background-color: white;
    padding: 10px;
    width: 70vw;
    margin: 0;

    h4 {
      margin: 10px;
    }
  }

  .navbar__hotelSingle {
    width: 90vw;
    padding: 20px;
  }

  &--extras {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 1120px) {
      margin-left: 20px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 30px;
    }
  }
}

.hotelSingle__body {
  &--info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.hotelSingle__rooms {
  width: 70vw;
}

@media (min-width: 375px) {
  .hotelSingle__show,
  .free__buttons,
  .text__show,
  .title__big {
    display: none;
  }
}

@media (max-width: 670px) {
  .hotelSingle__show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__hotelSingle {
    &--principal {
      display: none;
    }
  }
}

@media (min-width: 370px) {
  .hotelSingle__show {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hotelSingle__price {
    font-size: 20px;
  }

  .free__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    button {
      font-weight: bold;
    }
  }

  .text__show {
    display: flex;
  }

  .content__hotelSingle {
    &--title {
      display: flex;
      align-items: center;
    }

    &--images {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      gap: 10px;
    }

    &--principal {
      margin: 0;
      height: 360px;
      width: 600px;
    }

    &--secondary {
      position: relative;
      background-image: url("/room.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      height: 175px;
      width: 270px;
    }
  }
}

.hotelSingle__payment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 180px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 150px;
  }
}

@media (max-width: 916px) {
  .navbar__hotelSingle {
    width: 90vw;
  }

  .content__star--only {
    display: none;
  }

  .hotelSingle__show {
    display: flex;
    flex-direction: row;
  }

  .content__hotelSingle--images {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1027px) {
  .hotelSingle__payment {
    button {
      background-color: white;
    }
  }
}

@media (min-width: 1027px) {
  .star__show {
    display: flex;
  }

  .title__short {
    display: none;
  }

  .title__big {
    display: flex;
    align-items: center;
  }

  .book__now {
    display: flex;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    background-color: red;
  }

  .navbar__hotelSingle {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 540px) {
  .hotelSingle__payment {
    button {
      display: none;
    }

    h3 {
      margin: 0;
    }
  }

  .content__hotelSingle {
    &--title {
      h2 {
        font-size: 20px;
      }
    }

    &--menu {
      h4 {
        font-size: 12px;
      }
    }

    &--address {
      .free__buttons {
        display: none;
      }
    }
  }

  .hotelSingle__rooms {
    width: 80vw;
    padding: 0;
  }
}
