.content__hotelSingle {
  margin: 10px;

  &--room {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &--title {
    display: flex;
    gap: 10px;

    h2 {
      margin: 0;
    }

    button {
      border: 0;
      background-color: white;
    }
  }

  .box__hotelSingle {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
  }

  &--principal {
    position: relative;
    background-image: url("/room.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;

    .selected-label {
      position: absolute;
      top: 50%;
      color: white;
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      font-weight: bold;
    }

    .left {
      left: 0;
      transform: rotate(90deg);
    }

    .right {
      right: 0;
      transform: rotate(-90deg);
    }
  }

  .view-all {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 10px;
  }

  &--menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    h4 {
      margin: 10px;
    }
  }

  .navbar__hotelSingle {
    margin: 20px 0;
  }
}

@media (min-width: 375px) {
  .star__show,
  .hotelSingle__show,
  .free__buttons,
  .text__show,
  .title__big {
    display: none;
  }
}

@media (min-width: 500px) {
  .star__show {
    display: flex;
  }

  .content__hotelSingle {
    &--principal {
      width: 450px;
    }
  }
}

@media (min-width: 820px) {
  .hotelSingle__show {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hotelSingle__price {
    font-size: 20px;
  }

  .free__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    button {
      font-weight: bold;
    }
  }

  .text__show {
    display: flex;
  }

  .content__hotelSingle {
    &--title {
      display: flex;
      align-items: center;

      h2 {
        font-size: 38px;
      }
    }

    &--images {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      gap: 10px;
    }

    &--principal {
      margin: 0;
      height: 410px;
      width: 554px;
    }

    &--secondary {
      position: relative;
      background-image: url("/room.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      height: 180px;
      width: 270px;
    }
  }
}

@media (min-width: 1027px) {
  .title__short {
    display: none;
  }

  .title__big {
    display: flex;
    align-items: center;
  }

  .book__now {
    display: flex;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    background-color: red;
  }

  .navbar__hotelSingle {
    display: flex;
    justify-content: space-between;
  }

  .hotelSingle__payment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    width: 180px;
  }
}
