.footer {
  background-color: #1c1c1c;
  font-family: sans-serif;
  font-weight: bold;
  color: gray;
  width: 96vw;
  padding-left: 1rem;
  padding-top: 1rem;

  .footer__icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .footer__icons--item {
      font-size: 1rem;
    }

  }

  .footer__usefull-links ul {
    list-style: none;
  }

  .footer__about-links ul {
    list-style: none;
  }

  .footer__top-places {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer__new-topics {
    display: block;

    .footer__new-topics--item {
      display: flex;
      padding-bottom: 1rem;

    }
  }

  .footer__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 10px;
    background-color: #1e1e1e;

    .footer__social--item {
      font-size: 20px;
    }

  }

  .copyright {
    display: flex;
    margin-left: 0;
    justify-content: center;
    padding: 10px 0;
    background-color: #1e1e1e;

  }
}