.content__blog {
  background-color: aquamarine;

  &--description {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    img {
      width: 75px;
    }
  }

  &--attribute {
    margin: 0 auto;
    width: 100%;
    background-color: white;
    border-radius: 15px;

    img {
      margin-top: 20px;
    }
  }

  &--published {
    padding: 10px;

    &-article {
      border: 2px outset rgba(192, 192, 192, 0.2);
    }

    img {
      width: 100%;
      margin: 0 auto;
    }

    h4 {
      color: red;
    }

    button {
      color: white;
      font-weight: bold;
      border: 0;
      background-color: red;
    }
  }

  &--newsletter {
    padding: 0 15px 15px 15px;

    p {
      color: gray;
    }

    button {
      padding: 10px;
      border-radius: 7px;
    }
  }

  &--show {
    display: none;
  }

  &--subscribe {
    margin-top: 20px;
  }

  @media Screen and (min-width: 500px) {
    &--published {
      &-article {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;

        img {
          width: 240px;
        }
      }
    }

    &--attribute {
      width: 200px;
    }
  }

  @media Screen and (min-width: 1030px) {
    &--published {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      &-article {
        display: flex;
        width: 480px;
      }
    }
  }

  @media Screen and (min-width: 1350px) {
    &--description {
      width: 80vw;
      margin: 0 auto;
      padding: 20px 0 40px 0;
    }

    &--published {
      width: 80vw;
      margin: 0 auto;

      &-article {
        width: 530px;
      }
    }
  }
}
