.content__room {
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 68vw;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 2rem;

  h4 {
    margin-top: 0;
  }

  &--characteristics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img {
      margin-right: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      line-height: 2rem;
    }

    &-information {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      &-list {
        display: flex;
        justify-content: center;
        width: 360px;
        gap: 40px;
      }
    }

    h4 {
      margin: 10px;
    }
  }

  &--price {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;

    a {
      color: white;
      font-weight: bold;
    }

    h4 {
      margin: 0;
      font-size: 23px;
    }

    p {
      margin: 5px 0;
      font-size: 16px;
      color: grey;
    }

    .line {
      text-decoration: line-through;
    }

    button {
      background-color: red;
      color: white;
      font-size: 16px;
      font-weight: bold;
      height: 50px;
      width: 150px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      line-height: 2rem;
    }
  }
}

.navbar__hotelSingle {
  width: 70vw;
}

@media Screen and (min-width: 375px) {
  .content__room {
    display: flex;
    justify-content: center;

    img {
      margin: 0;
      height: 200px;
      width: 360px;
    }
  }
}

@media Screen and (max-width: 540px) {
  .content__room {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      margin: 0 auto;
      width: 300px;
    }
  }
}

@media Screen and (max-width: 600px) {
  .content__room {
    margin: 0;
    width: 100%;
  }
}

@media Screen and (min-width: 810px) {
  .content__room {
    display: flex;
    justify-content: center;

    &--title {
      width: 740px;
    }
  }
}

@media Screen and (max-width: 1077px) and (min-width: 601px) {
  .content__room {
    width: 60vw;
  }
}

@media Screen and (max-width: 1115px) and (min-width: 1078px) {
  .content__room {
    width: 67vw;
  }
}

@media Screen and (min-width: 1116px) {
  .content__room {
    width: 55vw;
  }
}

.room-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  padding: 20px;
  width: 310px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__image {
    img {
      width: 200px;
      margin: 0;
      border-radius: 5px;
    }
  }

  &__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 280px;

    h3,
    p {
      margin: 0;
    }
  }

  &__details {
    text-align: center;

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      color: #888;
    }
  }

  &__price {
    margin-top: 10px;
    text-align: center;

    p {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #888;

      svg {
        margin-right: 5px;
      }
    }

    h4,
    h3 {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__search {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-inputs {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      width: 300px;
      gap: 10px;

      #types {
        height: 40px;
        padding: 10px;
      }

      .room-card__search-input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
        outline: none;
        width: 280px;
        height: 20px;
      }
    }

    &-border {
      width: 1px;
      height: 100%;
      background-color: #ccc;
      margin: 0 10px;
    }

    &-button {
      flex-grow: 1;

      .room-card__search-button--link,
      .room-card__search-button--button {
        width: 100%;
        padding: 10px;
        margin: 20px 10px 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #007bff;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
